/*C:\Users\aluno.den\projetoluiza\src\pages\Bemvindo\style.css*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #eb0b0b88, #01643388, rgba(255, 254, 255, 0.7)), 
                url('../../assets/images/banner.png') no-repeat center center fixed;
    background-size: cover;
    color: white;
}

.pagina-bem-vindo {
    text-align: center;
    padding: 0;
    min-height: 100vh; 
    background-color: rgba(0, 0, 0, 0.5); 
}

.topo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
    background-color: linear-gradient(
        to bottom right,
        rgba(0, 128, 0, 0.7),
        rgba(255, 255, 255, 0.7),
        rgba(255, 0, 0, 0.7)
        )    }

.logo {
    height: 50px;
}

.menu a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

.menu a:hover {
    color: #00e0ff;
}

.conteudo {
    padding: 50px 20px;
    border-radius: 10px;
    margin: 20px;
    background-color: linear-gradient(
        to bottom right,
        rgba(0, 128, 0, 0.7),
        rgba(255, 255, 255, 0.7),
        rgba(255, 0, 0, 0.7)
        )    
}


.imagem-banner {
    width: 100%;
    max-width: 400px;
    height: auto;
    margin-bottom: 30px;
}

.titulo {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.descricao {
    font-size: 18px;
    margin-bottom: 30px;
    color: #d9d5e9;
    text-align: center;
    padding: 0;
    min-height: 5vh; 
    border-radius: 5%;
    background-color: linear-gradient(
        to bottom right,
        rgba(2, 24, 2, 0.7),
        rgba(255, 255, 255, 0.7),
        rgba(255, 0, 0, 0.7)
        )    
}

.botoes-download {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.botao {
    padding: 12px 20px;
    border-radius: 5px;
    background-color: #222;
    border: 2px solid #fff;
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: all 0.3s;
}

.botao:hover {
    background-color: #00e0ff;
    border-color: #00e0ff;
    color: #000;
}
